$dataviz-black: #0A1624;
$brazil-color: #5ab1b6;
$brazil-light: #f5f3c2;
$cameroun-color: #ef5259;
$cameroun-light: #f87636;
$france-color: #0048cc;
$france-light: #0075f5;
$indonesia-color: #4728a6;
$indonesia-light: #683aa8;
$spain-color: #c02e1d;
$spain-light: #e80000;
$italy-color: #e8e33d;
$italy-light: #ffdb37;